# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Example payloads
example-payload.json
workflow-run-payload.json
